.moredetails {
	display: flex;
 	height: 100vh;
}


.meal-details {
	h1{ color: black;}
	color : blue ;
	width: 60%;
	padding: 30px;
	text-align: center;
}

.meal-photo {

	width :40%;
	background-color: red;
}