<h1>My Dashboard</h1>


<h5>Hosting:</h5>
<ul>
	<% @user.hosted_meals.each do |meal| %>
		<li><%= meal.name %></li>
	<% end %>
</ul>


<h5>Attending:</h5>
<ul>
	<% @user.booked_meals.each do |meal| %>
		<li><%= meal.name %></li>
	<% end %>
</ul>
