<div class="banner" style="background-image:
linear-gradient(-225deg, rgba(189,194,197,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path 'banner.jpg' %>);">

<% if user_signed_in? %>
  <%= render 'search_form' %>
<% else %>

 <div class="banner-content">
    <h1>FoodStars</h1>
    <p>Experience the real local cuisine</p>
    <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "btn btn-primary btn-lg" %>
<%end%>

  </div>
</div>
